<div class="main-content">
  <a class="red-text"  >
  </a>

    <div class="col-md-12">
        <div class="card card-nav-tabs" >
            <div class="card-header" data-background-color="red" >
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Packs:</span>
                         <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#profile" (click)="afficherPartieListe()" data-toggle="tab">
                                    <i class="material-icons">bug_report</i>
                                    Liste des packs
                                    <div class="ripple-container"></div>
                                </a>
                            </li>

                            <li class="">
                                <a href="#ajout" (click)="afficherPartieAjoutPack()" data-toggle="tab">
                                    <i class="material-icons">code</i>
                                    Ajout d'un packs
                                <div class="ripple-container"></div>
                                </a>
                            </li>
                         </ul>
                    </div>
                </div>
            </div>
        <div class="card-content">
            <div *ngIf="partieAffiche" id="profile" class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-danger">
                        <tr>
                            <th>id_pack</th>
                            <th>nom_pack <input type="text"  [(ngModel)]="filtre.nom_pack" placeholder="filtre" > </th>
                            <th>description <input type="text"  [(ngModel)]="filtre.description" placeholder="filtre" > </th>
                            <th>nbre_max_service <input type="text"  [(ngModel)]="filtre.nbre_max_service" placeholder="filtre" > </th>
                            <th>kilometrage_max <input type="text"  [(ngModel)]="filtre.kilometrage_max" placeholder="filtre" >  </th>
                            <th>etat  <input type="text"  [(ngModel)]="filtre.etat" placeholder="filtre" > </th>
                            <th>Edit </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let pack of packs |filterBy: filtre">

                                <td>{{pack.id_pack}}</td>
                                <td>{{pack.nom_pack}}</td>
                                <td>{{pack.description}}</td>
                                <td>{{pack.nbre_max_service}}</td>
                                <td>{{pack.kilometrage_max}}</td>
                                <td *ngIf="pack.etat" >active</td>
                                <td *ngIf="!pack.etat">  non active  </td>
                                
                                <td>
                                    
                                        <button type="button" rel="tooltip" title="Mise A jour" (click)="editPack(pack.id_pack)" class="btn btn-primary btn-simple btn-xs" data-target="#editModal" data-toggle="modal">
                                            <i class="material-icons">create</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Suppression " (click)="recupererIdPack(pack.id_pack)"  class="btn btn-danger btn-simple btn-xs" data-target="#deleteModal" data-toggle="modal">
                                            <i class="material-icons">cancel</i>
                                        </button>
                                </td>
                                
                            </tr>
                    </tbody>
                </table>
                
                    


            </div>

            <!--  -->
<div *ngIf="partieAjout" class="tab-pane"  id="ajout">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                
                <div class="card-content">
                    <form>
                        <div class="row">
                            
                           
                           
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">nom_pack</label>
                                    <input type="text" class="form-control" name="nom_packForAjout" [(ngModel)]="nom_packForAjout" #field="ngModel" [rangeLength]="[5, 9]">
                                    <p *ngIf="field.errors?.rangeLength">the length must be at least 5</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">description</label>
                                    <input type="text" class="form-control" name="descriptionForAjout" [(ngModel)]="descriptionForAjout" >
                                </div>
                            </div>
                            
                        </div>

                        

                        <div class="form-group row">
                    <div class="checkbox">
                        <label rel="tooltip" title="bloquer">
                            <input type="checkbox"  (change)="bloquerPack($event.target.checked)"     >
                        </label>
                            <label>   bloquer       </label>
                    </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox">
                            <label rel="tooltip" title="debloquer">
                                <input type="checkbox"  (change)="debloquerPack($event.target.checked)"     >
                            </label>
                            <label>   debloquer       </label>
                        </div>
                    </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">nbre_max_serviceForAjout</label>
                                    <input type="text" class="form-control" name="nbre_max_serviceForAjout" [(ngModel)]="nbre_max_serviceForAjout" >
                                </div>
                            </div>
                        </div>

                
                <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">nbre_max_serviceForAjout</label>
                                    <input type="text" class="form-control" name="kilometrage_maxForAjout" [(ngModel)]="kilometrage_maxForAjout" >
                                </div>
                            </div>
                        </div>

                        

                        <button type="submit" class="btn btn-danger pull-right" (click)="ajouterPack()">Ajouter pack</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>

</div>
            <!--  -->


        </div>
    </div>
</div>







<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" style="display: none;margin-top: 150px;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="addModalLabel" style="text-align: center;
                        color: #3b678e;">Suppression d'un pack</h4>
                </div>
                <!--Body-->
                <form  >
                    <div class="modal-body">
                        <br>
                    
                        voulez vous vraiment supprimer ce pack ?
        
                                

                                            
                        <div class="form-group row">
                            <button class="btn waves-effect waves-light" style="background-color: #48b3af;margin-left: 350px;color: white;"
                            (click)="validerSupprimerPack(n)" data-dismiss="modal" >Valider</button>
                        <button class="btn waves-effect waves-light" style="background-color:#d81717;
                    
                        color: white;" data-dismiss="modal"   >Quitter</button>
                        </div>
                                
                    </div>           
                </form>  
        
            </div>
    </div>
</div>



<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" style="display: none;margin-top: 150px;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="addModalLabel" style="text-align: center;
                    color: #3b678e;">Modification d'un client</h4>
            </div>
            <!--Body-->
            <form  >
                <div class="modal-body">
                    <br>
                
                <div class="form-group row"  >

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="nom_pack" [(ngModel)]="nom_pack" placeholder="nom_pack" />
                        </div>
                </div>
                <div class="form-group row" >

                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="description" [(ngModel)]="description"  placeholder="description" />
                    </div>
                </div>

                <div class="form-group row" >

                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="nbre_max_service" [(ngModel)]="nbre_max_service"  placeholder="nbre_max_service" />
                    </div>
                </div>

                <div class="form-group row" >

                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="kilometrage_max" [(ngModel)]="kilometrage_max"  placeholder="kilometrage_max" />
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="checkbox">
                        <label rel="tooltip" title="bloquer">
                            <input type="checkbox"  (change)="bloquerPack($event.target.checked)"     >
                        </label>
                            <label>   bloquer       </label>
                    </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox">
                            <label rel="tooltip" title="debloquer">
                                <input type="checkbox"  (change)="debloquerPack($event.target.checked)"     >
                            </label>
                            <label>   debloquer       </label>
                        </div>
                    </div>

                    
                    <div class="form-group row">
                        <button class="btn waves-effect waves-light" style="background-color: #48b3af;
                        margin-left: 350px;
                        color: white;" (click)="validerEditPack()" data-dismiss="modal" >Valider</button>
                        <button class="btn waves-effect waves-light" style="background-color:#d81717;
                    
                        color: white;" data-dismiss="modal"   >Quitter</button>
                    </div>
                            
                </div>           
            </form>  
        </div>
    </div>
</div>





